
#main_container {
    width:1020px;
}
.xt-hidden{
	display:none!important;
}
.my-title{
	font-size: 18px!important;
}
.xt-right{
	float:right!important;
}
.xt-title{
/*color :#d9edf7!important;*/
}
.xt-matched{
	background-color: rgba(123, 191, 81, 0.55);
}

blockquote{
	font-size: 14px!important;
}

footer {
	margin-top: 1em;
	padding: 5px;
	bottom: 2px;
	clear: both;
	display: block;
	width: 100%;
	border-top: 1px dashed #ccc;
	text-align: center
}
footer small {
	color: #aaa;
	font-size: 12px
}
