{% extends 'base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="vs.css") }}">
{% endblock %}
{% block content -%}
    <!--suppress ALL -->
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading my-title" id="article_title">{{ article_dict["title"] }}</div>
                <div class="panel-body" id="main_article">

                    <div id="ar_info">
                        <span id="author">{{ article_dict["author"] }}</span> 发布于 <span
                            id="time">{{ article_dict["time"] }}</span>
                        {% if current_user.is_authenticated and current_user.access==0 %}
                            <button id="delete" numbery="0" type="button" class="btn btn-danger btn-sm xt-right">删除
                            </button>
                            <!--<button type="button" class="btn btn-info btn-sm xt-right">修改</button>-->
                        {% endif %}
                    </div>

                    <hr/>
                    {{ article_dict["text"] | safe }}
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item list-group-item-info">标签</li>
                {% for tag in tag_dict %}
                    <a class="list-group-item " href="{{ url_for("index", tag=tag_dict[tag][0]) }}"><span
                            class="badge">{{ tag_dict[tag][1] }}</span>{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for("static", filename="highlight.min.js") }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        function get_article_id() {
            var url = document.location.toString();
            var arrUrl = url.split("/");
            var para = arrUrl[arrUrl.length - 1];
            return para;
        }

        let dom = document.querySelector("#delete");
        dom.addEventListener("click", function () {
            if (dom.getAttribute("numbery") == 0) {
                dom.innerHTML = "再次点击确认删除";
                dom.setAttribute("numbery", "1");
            }
            else {
                window.location.href = "delete/" + get_article_id();
            }
        })
    </script>

{% endblock scripts %}

