{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {%- endblock metas %}

    {%- block styles %}
    <!-- My style -->
    <link href="{{url_for('static', filename='mystyle.css')}}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    <div class="container" id="main_container">
    {% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.BLOG_NAME }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">文章<span class="sr-only">(current)</span></a></li>
        <li><a href="#">杂项</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">RSS</a></li>
        <li><a href="#">GITHUB</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">写文章</a></li>
            <li><a href="#">文章管理</a></li>
            <li><a href="#">信息设置</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
    {%- endblock navbar %}
    {% block content -%}
    {%- endblock content %}
<div class="row">
  <div class="col-md-8">
     <div class="list-group">
       <a class="list-group-item" href="#">标题测试1</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
     </div>
		<nav aria-label="...">
		  <ul class="pager">
				<form class="form-inline">
			<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>上一页</a></li>
				  <div class="form-group">
					<label for="exampleInputEmail2"></label>
					<input class="form-control" id="exampleInputEmail2" placeholder="共180页">
				  </div>
				  <button type="submit" class="btn btn-default">跳页</button>
			<li class="next"><a href="#">下一页<span aria-hidden="true">&rarr;</span></a></li>
				</form>
		  </ul>
		</nav>
  </div>
  <div class="col-md-3">
     <div class="list-group">
       <li class="list-group-item list-group-item-info">标签</li>
       <a class="list-group-item" href="#"><span class="badge">0</span>Java</a>
       <a class="list-group-item" href="#"><span class="badge">21</span>Linux</a>
     </div>
  </div>

</div>
    {% block footer %}

<footer>
<p>
	<small> My WebSite，Powered By Flask 2017, VeekXT </small>
</p>
</footer>
{%- endblock footer %}
</div>
    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
