{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>{% block title %}VeekXT{% endblock title %}</title>

                {%- block metas %}
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta charset="utf-8">
                {%- endblock metas %}
                <link href="{{ url_for("static",filename="favicon.ico") }}" rel="shortcut icon">
                {%- block styles %}
                    <!-- My style -->
                    <link href="{{ url_for('static', filename='mystyle4.css') }}" rel="stylesheet">
                    <!-- Bootstrap -->
                    <link href="{{ url_for('static', filename='lib/bootstrap.min.css') }}" rel="stylesheet">
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
            {% block navbar %}
                <div class="container-fluid" id="main_container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ url_for('index') }}">{{ config.BLOG_NAME }}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item" id="nav-article">
                                <a class="nav-link" href="{{ url_for("index") }}">文章 <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item" id="nav-utils">
                                <a class="nav-link" href="{{ url_for("utils_src") }}">杂项</a>
                            </li>
                            <form action="/search" class="form-inline my-2 my-lg-0" method="get">
                                <input name="keyword" type="search" class="form-control mr-sm-2"
                                       placeholder="Search">
                                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">搜索</button>
                            </form>

                        </ul>

                        <ul class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                       role="button"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ current_user.name }}
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ url_for("write_article") }}">写文章</a>
                                        <a class="dropdown-item" href="{{ url_for("auth.user_quit") }}">退出登录</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for("auth.user_login") }}">登录</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                                        href="{{ url_for("auth.user_register") }}">注册</a></li>
                            {% endif %}
                        </ul>

                    </div>

                </nav>
            {%- endblock navbar %}

            {% block content -%}
            {%- endblock content %}


        {% block footer %}

            <footer>
                <p>
                    <small> My WebSite,
                        <a href="{{ config.GITHUB_LINK }}" target="_blank">github Link, </a>Powered By Flask
                        2017-2018, VeekXT.
                    </small>
                </p>
            </footer>
        {%- endblock footer %}
        </div>
            {% block scripts %}
                <script src="{{ url_for('static', filename='lib/jquery-3.3.1.slim.min.js') }}"></script>
                <script src="{{ url_for('static', filename='lib/popper.min.js') }}"></script>
                <script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>
            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
