{% extends 'base.html' %}
{% block content -%}
<div class="row">
  <div class="col-md-9">
     <div class="list-group">
       <a class="list-group-item" href="#">标题测试1</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
       <a class="list-group-item" href="#">标题测试2</a>
     </div>
		<nav aria-label="...">
		  <ul class="pager">
				<form class="form-inline">
			<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span>上一页</a></li>
				  <div class="form-group">
					<label for="exampleInputEmail2"></label>
					<input class="form-control" id="exampleInputEmail2" placeholder="共180页">
				  </div>
				  <button type="submit" class="btn btn-default">跳页</button>
			<li class="next"><a href="#">下一页<span aria-hidden="true">&rarr;</span></a></li>
				</form>
		  </ul>
		</nav>
  </div>
  <div class="col-md-3">
     <div class="list-group">
       <li class="list-group-item list-group-item-info">标签</li>
       <a class="list-group-item" href="#"><span class="badge">0</span>Java</a>
       <a class="list-group-item" href="#"><span class="badge">21</span>Linux</a>
     </div>
  </div>

</div>
{%- endblock content %}
