{% extends 'base.html' %}
{% block content -%}
    <div class="row">
        <div class="col-md-9">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="list-group">

                {% for a in pagination.items %}
                    <a class="xt-title list-group-item" href="{{ url_for("a_article",id=a.id) }}">
                        {% if search_keyword %}
                        {{ hgihtlight_word(a.title,search_keyword)|safe }}
                            {% else %}
                            {{ a.title }}
                        {% endif %}
                        <span
                            class="xt-right">{{ a.time }}</span></a>
                {% endfor %}

            </div>
            <nav aria-label="...">
                <ul class="pager">
                    <form class="form-inline" action="/">
                        {% if pagination.has_prev %}
                            <li class="previous">
                                {% if args["tag"] %}
                                    <a href="{{ url_for("index",page=pagination.prev_num,tag=args["tag"]) }}"><span
                                            aria-hidden="true"></span>上一页</a>
                                {% else %}
                                    <a href="{{ url_for("index",page=pagination.prev_num) }}"><span
                                            aria-hidden="true"></span>上一页</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="previous disabled">
                                <a href="#"><span aria-hidden="true"></span>上一页</a>
                            </li>
                        {% endif %}


                        <div class="form-group">
                            <label for="exampleInputEmail2"></label>
                            <input class="form-control" name="page"
                                   placeholder="第{{ pagination.page }}页，共{{ pagination.pages }}页">
                        </div>


                        <button type="submit" class="btn btn-default">跳页</button>

                        {% if pagination.has_next %}
                            <li class="next">
                                {% if args["tag"] %}
                                    <a href="{{ url_for("index",page=pagination.next_num,tag=args["tag"]) }}"><span
                                            aria-hidden="true"></span>下一页</a>
                                {% else %}
                                    <a href="{{ url_for("index",page=pagination.next_num) }}"><span
                                            aria-hidden="true"></span>下一页</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="next disabled">
                                <a href="#"><span aria-hidden="true"></span>下一页</a>
                            </li>
                        {% endif %}

                    </form>
                </ul>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item list-group-item-info">标签</li>
                {% for tag in tag_dict %}
                    <a class="list-group-item {{ args["tag"] }} {{ tag_dict[tag][0] }}
{% if args["tag"]==(tag_dict[tag][0]|string) %} active {% endif %}" href="{{ url_for("index", tag=tag_dict[tag][0]) }}"><span
                            class="badge">{{ tag_dict[tag][1] }}</span>{{ tag }}</a>
                {% endfor %}
            </div>
        </div>

    </div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
    <script>
        document.querySelector("#nav-article").classList.add("active");
    </script>
{% endblock %}