{% extends 'base.html' %}
{% block content -%}
    <div class="row">
        <div class="col-sm-9">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="list-group" id="list_article">

                {% for a in pagination.items %}
                    <a class="xt-title list-group-item list-group-item-action"
                       href="{{ url_for("a_article",id=a.id) }}">
                        {% if search_keyword %}
                            {{ hgihtlight_word(a.title,search_keyword)|safe }}
                        {% else %}
                            {{ a.title }}
                        {% endif %}
                        <span
                                class="float-right">{{ a.time }}</span></a>
                {% endfor %}

            </div>

            <div class="row ">
                <div class="col-sm-4">
                    <div class="d-flex justify-content-around">


                        {% if pagination.has_prev %}
                            {% if args["tag"] %}

                                <a class="btn btn-outline-info float-left" role="button"
                                   href="{{ url_for("index",page=pagination.prev_num,tag=args["tag"]) }}"><span
                                        aria-hidden="true"></span>上一页</a>

                            {% else %}
                                <a class="btn btn-outline-info float-left" role="button"
                                   href="{{ url_for("index",page=pagination.prev_num) }}"><span
                                        aria-hidden="true"></span>上一页</a>
                            {% endif %}
                        {% else %}

                            <a class="btn btn-outline-info float-left" role="button" href="#"><span
                                    aria-hidden="true"></span>上一页</a>

                        {% endif %}


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="d-flex justify-content-around">



                            <input id="page_code" type="number" class="form-control"
                                   placeholder="第{{ pagination.page }}页，共{{ pagination.pages }}页"
                                   aria-label="" aria-describedby="button-addon2">


                        <span>
                                <button class="btn btn-outline-secondary" type="submit" id="goto-page">跳页</button>
                            </span>


                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="d-flex justify-content-around">

                        {% if pagination.has_next %}

                            {% if args["tag"] %}
                                <a class="btn btn-outline-info float-left" role="button"
                                   href="{{ url_for("index",page=pagination.next_num,tag=args["tag"]) }}"><span
                                        aria-hidden="true"></span>下一页</a>
                            {% else %}
                                <a class="btn btn-outline-info float-left" role="button"
                                   href="{{ url_for("index",page=pagination.next_num) }}"><span
                                        aria-hidden="true"></span>下一页</a>
                            {% endif %}

                        {% else %}

                            <a class="btn btn-outline-info float-left" role="button" href="#"><span
                                    aria-hidden="true"></span>下一页</a>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="list-group">
                <li class="list-group-item bg-light">标签</li>
                {% for tag in tag_dict %}
                    <a class="list-group-item list-group-item-action {{ args["tag"] }} {{ tag_dict[tag][0] }}
{% if args["tag"]==(tag_dict[tag][0]|string) %} active {% endif %}"
                       href="{{ url_for("index", tag=tag_dict[tag][0]) }}">{{ tag }} <span
                            class="badge badge-secondary float-right">{{ tag_dict[tag][1] }}</span></a>
                {% endfor %}
            </div>
        </div>

    </div>
{%- endblock content %}
{% block scripts %}
    {{ super() }}
    <script>
        document.querySelector("#nav-article").classList.add("active");
        document.querySelector("#goto-page").addEventListener("click",function () {
            page= document.querySelector("#page_code").value;
            window.location.href = "/?page=" + page;
        });
    </script>
{% endblock %}