{% extends 'utils.html' %}

{% block util_title %}
    消息共享
{% endblock %}

{% block utilutil_id_main %}

    <p>only veekxt can read, required login "veekxt"</p>

    <div class="input-group">
        <textarea id="text_area" type="text" class="form-control" placeholder=""></textarea>
        <span class="input-group-btn">
        <button id="add_mess" class="btn btn-default" type="button">添加(ADD)</button>
      </span>
    </div><!-- /input-group -->
    <br/>
    <div id="messages">
    </div>
{% endblock utilutil_id_main %}
{% block scripts %}
    {{ super() }}
    <script>
        let messages = document.querySelector("#messages");
        document.querySelector("#add_mess").addEventListener("click", function () {
            let text_area = document.querySelector("#text_area");
            var xhr = new XMLHttpRequest();
            xhr.open("post", "/add_mess");
            let data = {"mess": text_area.value};
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    //messages.insertAdjacentHTML("afterbegin", "<p>" + text_area.value + "</p>");
                    messages.insertAdjacentHTML("afterbegin", '<pre style="white-space: pre-wrap;' +
                        'word-wrap: break-word;"><code>' + text_area.value + "</pre></code>");
                    text_area.value = "";
                }
            };
            xhr.send(JSON.stringify(data));
        })
        ;
        var xhr = new XMLHttpRequest();
        xhr.open("get", "/get_mess?n=" + 15);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                let messList = JSON.parse(xhr.responseText);
                for (let i in messList) {
                    messages.insertAdjacentHTML("beforeend", '<pre style="white-space: pre-wrap;' +
                        'word-wrap: break-word;"><code>' + messList[i] + "</pre></code>");
                }
            }
        };
        xhr.send();

    </script>
{% endblock %}