{% extends 'utils.html' %}

{% block util_title %}
    一些音乐
{% endblock %}

{% block utilutil_id_main %}
<!--
    TheFatRat DOTA2 music pack - hero select
    <br/>
    <audio class="xt-audio" src="http://ofqzuvd4d.bkt.clouddn.com/TheFatRat%20-%20Afterlife.mp3"
           controls="controls"></audio>
    <br/>

    Larval Stage Planning - Sympathy
    <br/>
    <audio class="xt-audio" src="http://7xj4v0.com1.z0.glb.clouddn.com/Larval%20Stage%20Planning%20-%20Sympathy.mp3"
           controls="controls"></audio>
    <br/>
    明天会更好
    <br/>
    <audio class="xt-audio"
           src="http://7xj4v0.com1.z0.glb.clouddn.com/%E7%BE%A4%E6%98%9F%20-%20%E6%98%8E%E5%A4%A9%E4%BC%9A%E6%9B%B4%E5%A5%BD.mp3"
           controls="controls"></audio>
    <br/>
-->
    # maybe I will upload some
{% endblock utilutil_id_main %}

{% block scripts %}
    {{ super() }}
    <script>
        let maudio = document.querySelectorAll(".xt-audio");
        for (a in maudio) {
            a.volume = 0.5
        }
    </script>
{% endblock %}